.container_error{
    position: relative;
    min-height: 100vh;
    .error_404{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 288px;
        line-height: 142.6%;
        display: block;
        text-align: center;
        color: #FF6060;
        margin-top: 109px;
        @media screen and (max-width: 767px) {
            font-size: 96px;
            margin-top: 177px;
        }
    }
    
    .error_text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 142.6%;
        display: block;
        text-align: center;
        color: #FF6060;
        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    
    .error_lien{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        text-decoration-line: underline;
        display: block;
        text-align: center;
        color: #FF6060;
        margin-top: 182px;
        @media screen and (max-width: 767px) {
            font-size: 14px;
            margin-top: 133px;
        }
    }
}
